#collasible-nav-dropdown{
    color: blue;

}


#pic{
    margin-top: 25px;
    width: 171px;
    height: 180px;
}
#signup-butt{
    margin-top: 30px;
    margin-left: 30px;
}
#nav-test{
    margin-bottom: 1px solid black;
}
Navbar{
    background-color: cornsilk;
}